[submodule "external/mupdf"]
	path = external/mupdf
	url = https://github.com/ArtifexSoftware/mupdf.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
